
#userList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
h2{
display: flex;
justify-content: center;
margin: 10px 10px 0px 0px;
}

img{
    border-radius: 50%;
    width: 70%;
    margin-bottom: 10px; 
    margin: 10px;
transition: transform 0.3s ease-in-out;
}
img:hover {
  transform: scale(1.1);
}

.searchSection{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 5px;
}
#search{
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 15px;
}
.seeMorebtn{
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
#LoadMoreBtn{
margin-top: 14px;

}


h2 {
  color: white;
}
