.container{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgb(147, 192, 25);
    min-height: 100vh;
}
#userCard{
 background: rgba(255, 255, 255, 0.1); 
 margin: 15px;
padding: 20px;
border: 3px solid rgb(241, 238, 241);
border-radius: 15px;
text-align: center;
  color: #fff;
transition: transform 0.3s ease-in-out;
}
#userCard:hover {
  transform: translateY(-5px);
}
button{
margin: 5px;
padding: 5px;
  background: linear-gradient(to right, #f39b20,  #55068a);
color: #fff;
border: none;
font-weight: bold;
border-radius: 12px;
cursor: pointer;
transition: all 0.3s ease-in-out;

}
button:hover{
    transform: scale(1.05);
}